<div class="tokenfield form-control" style="width: 100%;">
	
{{#each tokens as |token|}}
	<div class="token">
		<span class="token-label">{{token.label}}</span>
		<a href="#" class="close" tabindex="-1" {{action "deleteItem" token}}>×</a>
	</div>
{{/each}}


	{{input type="text" value=userText class="token-input" autocomplete="off" style="min-width: 60px;"}}
</div>