<div class="topActionBar">
  <div class="action-dropdown"><span style="margin-top:5px;">All Messages</span></div>
</div>
<div class="inbox-list">
  {{#each model.messages as |message|}}
    {{#link-to 'messages.folder.message' message.threadId}}
      <div class="inbox-item">
        <div class="item-content">
          <img class="photo" src={{message.pictureUrl}} alt={{message.name}} width="60">
          <div class="date">
            <span class="past">{{message.timestamp}}</span>
          </div>
          <div class="msg-content">
            <p class="participants">
              <span class="new-miniprofile-container">
                <strong>
                {{message.name}}
                </strong>
              </span>
            </p>
            <p class="headline">{{message.subject}}</p>
            <div class="note">
              <p>

                {{!truncate-text message.body max=50}}
              
              	{{message.body}}
              </p>
            </div>
          </div>
        </div>
      </div>
    {{/link-to}}
  {{/each}}
</div>
