{{#with model as |message|}}
  <div class="topActionBar">
    <div class="action-dropdown">
      <a style="margin-right:20px;margin-left:10px;color:#333;" href>
        {{bootstrap-icon name="share-alt"}}
        Reply
      </a>
      <a style="margin-right:20px;color:#333;" href>
        {{bootstrap-icon name="trash"}}
        Trash
      </a>
      <a style="margin-right:20px;color:#333;" href>
        More
      </a>
      <a style="color:#333;float:right;" href>Next
        {{bootstrap-icon name="arrow-right"}}
  </a>
    </div>
  </div>
  <div class="inbox-list">
    <div class="inbox-item">
      <div class="item-content">
        <img class="photo" src={{message.pictureUrl}} alt={{message.name}} width="60">
        <div class="date">
          <span class="past">{{message.timestamp}}</span>
        </div>
        <div class="msg-content">
          <p class="participants">
            <span class="new-miniprofile-container">
              <strong>
              {{message.name}}
              </strong>
            </span>
          </p>
          <p class="headline">{{message.subject}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="msg-content-full">
    <p>{{message.body}}</p>
  </div>
{{/with}}
