<div class="form-group">
  <label for="recipient">To</label>
  {{my-tokenfield tokens=recipients}}

  {{!input type="text" value=model.recipients}}

  <ul>
    {{#each recipients as |recipient|}}
      <li>{{recipient.label}}</li>
    {{/each}}
  </ul>


  <button {{action "addAnother"}} class="btn btn-success">Add another recipient</button>
</div>
<div class="form-group">
  <label>To: {{displayRecipients}}</label>
  <label for="body">Message</label>
  <textarea id="body" class="form-control" rows=3></textarea>
</div>

<div class="form-group">
  <button type="submit" class="btn btn-default">Submit</button>
</div>
