<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      {{link-to 'Emberbook' 'application' class="navbar-brand"}}
    </div>

    <ul class="nav navbar-nav">
      {{#link-to 'connections' tagName="li"}}
        {{#link-to 'connections'}}
          Connections
        {{/link-to}}
      {{/link-to}}
      {{#link-to 'companies' tagName="li"}}
        {{link-to 'Companies' 'companies'}}
      {{/link-to}}
      {{#link-to 'messages' tagName="li"}}
        {{link-to 'Messages' 'messages'}}
      {{/link-to}}
      {{#link-to 'articles' tagName="li"}}
        {{link-to 'News' 'articles'}}
      {{/link-to}}
      {{#link-to 'settings' tagName="li"}}
        {{link-to 'Settings' 'settings'}}
      {{/link-to}}
    </ul>
  </div>
</nav>

{{outlet}}
