<link rel="stylesheet" type="text/css" href="/assets/connections.css">

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Connections</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 content-outer">
      <div class="list">
        {{#each model.connections as |connection|}}
          <div class="list-item">
            <div class="item-content">
              <img class="photo" src={{connection.pictureUrl}} alt={{connection.name}} width="60">
              <div class="date">
                <span class="past">
                  {{connection.createdAt}}
                </span>
              </div>
              <div class="msg-content">
                <p style="margin-bottom: 0;" class="participants">
                  <strong>{{connection.name}}</strong>
                </p>
                <p class="headline">{{connection.title}}</p>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
