<link rel="stylesheet" type="text/css" href="/assets/messages.css">
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Inbox <small>{{#link-to 'settings.user'}}User Settings{{/link-to}}</small></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 col-md-2">
      {{link-to 'Compose' 'messages.compose' class="btn btn-danger btn-block"}}
      <hr>
      <ul class="nav nav-pills nav-stacked">
        {{#link-to 'messages.folder' 'inbox' tagName="li"}}
          {{#link-to 'messages.folder' 'inbox'}}
            <span class="badge pull-right">{{model.messages.length}}</span> Inbox
          {{/link-to}}
        {{/link-to}}
        {{#link-to 'messages.folder' 'sent' tagName="li"}}
          {{#link-to 'messages.folder' 'sent'}}
            Sent
          {{/link-to}}
        {{/link-to}}
        {{#link-to 'messages.folder' 'archive' tagName="li"}}
          {{#link-to 'messages.folder' 'archive'}}
            Archive
          {{/link-to}}
        {{/link-to}}
        {{#link-to 'messages.folder' 'trash' tagName="li"}}
          {{#link-to 'messages.folder' 'trash'}}
            Trash
          {{/link-to}}
        {{/link-to}}
      </ul>
    </div>
    <div class="col-md-7 content-outer">
      {{outlet}}
    </div>
  </div>
</div>
