Settings...

<ul class="nav nav-pills">
  {{#link-to 'settings.user' tagName="li"}}
  	{{link-to 'User' 'settings.user'}}
  {{/link-to}}
  <li role="presentation"><a href="#">Profile</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
</ul>

<hr />

{{outlet}}
